:root {
  /* Colors  */
  --accent-dark: 99, 95, 199;
  --accent-light: 99, 95, 199;
  --danger-light: 234, 85, 85;
  --danger-dark: 199, 72, 72;
  --bg-page: 244, 247, 253;
  --lines: 226, 232, 240;
  --text-primary: 71, 85, 105;
  --text-secondary: 130, 143, 163;
  --text-on-accent: 255, 255, 255;
  --accent-lines: 99, 95, 199;
}

.dark {
  --bg-page: 32, 33, 44;
  --lines: 62, 63, 78;
  --text-primary: 255, 255, 255;
  --text-secondary: 148, 163, 184;
}

@theme {
  --color-accent-dark: rgb(var(--accent-dark));
  --color-accent-light: rgba(var(--accent-light), 0.1);
  --color-danger-light: rgb(var(--danger-light));
  --color-danger-dark: rgb(var(--danger-dark));
  --color-bg-page: rgb(var(--bg-page));
  --color-lines: rgb(var(--lines));
  --color-accent-lines: rgba(var(--accent-lines), 0.1);
  --color-text-primary: rgb(var(--text-primary));
  --color-text-secondary: rgb(var(--text-secondary));
  --color-text-on-accent: rgb(var(--text-on-accent));
}
