@import "tailwindcss";

@import "./styles/theme.css";
@import "./styles/typography.css";
@import "./styles/components.css";

@layer base {
  html,
  body {
    @apply bg-bg-page;
  }
  h1 {
    @apply title text-5xl font-extrabold p-xs;
  }
  h2 {
    @apply title p-xs;
  }
  h3 {
    @apply title txt-lg p-xs;
  }
  p,
  a,
  link {
    @apply subtitle p-xs;
  }
  ul {
    @apply list-none;
  }
  button {
    @apply cursor-pointer p-xs;
  }
  input,
  textarea,
  select {
    @apply formField p-md;
  }
}

@utility centered {
  @apply flex items-center justify-center shrink-0;
}

@utility flex-between {
  @apply flex items-center justify-between shrink-0;
}

@utility flex-column {
  @apply flex flex-col shrink-0;
}

@utility flex-column-centered {
  @apply flex flex-col items-center justify-center shrink-0;
}

@utility transition-custom {
  @apply transition-all duration-200 ease-[cubic-bezier(0.4,0,0.2,1)];
}

@utility size-full {
  @apply w-full min-h-full shrink-0;
}

@utility screen-full {
  @apply w-full min-h-screen shrink-0;
}

@utility animate-dropdown-in {
  animation: dropdownFadeIn 0.3s ease-in-out forwards;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
